entrypoint = "main.sh"
modules = ["bash", "nodejs-20", "python-3.11", "java-graalvm22.3"]

[nix]
channel = "stable-24_05"
packages = ["freetype", "lcms2", "libimagequant", "libjpeg", "libtiff", "libwebp", "libxcrypt", "openjpeg", "tcl", "tk", "zlib"]

[deployment]
run = ["bash", "main.sh"]
deploymentTarget = "cloudrun"

[agent]
expertMode = true
